
<header class="main-header">
    <!-- Logo -->
    <a href="~/" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>M</b>K</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>MK</b>Shop</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>

        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- User Account: style can be found in dropdown.less -->
                @{ var userAccount = Converter.CookieToUserAccount(User.Identity.Name); }
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="~/Photo/@userAccount.Photo" class="user-image" alt="User Image">
                        <span class="hidden-xs">@userAccount.FullName</span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header">
                            <img src="~/Photo/@userAccount.Photo" class="img-circle" alt="User Image">

                            <p>
                                @userAccount.FullName
                            </p>
                        </li>
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left">
                                <button class="btn btn-default btn-flat js-info">Thông tin</button>
                            </div>
                            <div class="">
                                <a href="~/Account/ChangePassword" class="btn btn-default btn-flat">Đổi mật khẩu</a>
                                @*<button class="btn btn-default btn-flat">Đổi mật khẩu</button>*@
                            </div>
                            <div class="pull-right">
                                <a href="~/Account/Logout" class="btn btn-default btn-flat">Đăng xuất</a>
                            </div>
                        </li>
                    </ul>
                </li>
                <!-- Control Sidebar Toggle Button -->
            </ul>
        </div>
    </nav>
</header>

@* form info *@
<div class="modal js-modal">
    <div class="modal-container">
        <div class="modal-close js-modal-close">
            <i class="header-close-icon ti-close"></i>
        </div>
        <div class="modal-header">
            <p style="font-size: 15px;line-height:30px;padding:0;margin:0;text-transform:uppercase;">Thông tin nhân viên</p>
        </div>
        <div class="">
            <div class="">
                <label class="info-text">Họ và tên:</label>
                <lable class="info-container">
                    @userAccount.FullName
                </lable>
            </div>
            <div class="">
                <label class="info-text">Ngày sinh:</label>
                <lable class="info-container">

                </lable>
            </div>
            <div class="">
                <label class="info-text">Ảnh:</label>
                <label class="info-container">
                    <img src="~/Photo/@userAccount.Photo" class="user-image" alt="User Image">
                </label>
            </div>
            <div class="">
                <label class="info-text">Email:</label>
                <label class="info-container">
                    @userAccount.Email
                </label>
            </div>
            <div class="">
                <label class="info-text">Ghi chú:</label>
                <label class="info-container">

                </label>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn-warning back-btn js-modal-close">Quay lại</button>
            <button class="btn-success change-password-btn js-change-password">Đổi mật khẩu</button>
        </div>
    </div>
</div>

@* change password form *@
<div class="change-modal js-change-modal">
    <div class="change-modal-container">
        
    </div>
</div>

<script>
    const infoBtn = document.querySelector('.js-info')
    const modal = document.querySelector('.js-modal')
    const modalCloses = document.querySelectorAll('.js-modal-close')

    const changeBtn = document.querySelector('.js-change-password')
    const changeModal = document.querySelector('.js-change-modal')

    function ShowInformation() {
        modal.classList.add('open')
    }

    function CloseShow() {
        modal.classList.remove('open')
    }

    function ShowChangePassword() {
        changeModal.classList.add('open')
    }

    infoBtn.addEventListener('click', ShowInformation)

    changeBtn.addEventListener('click', ShowChangePassword)

    for (const modalClose of modalCloses) {
        modalClose.addEventListener('click', CloseShow)
    }
</script>
